In [1]:
import pandas as pd

# Helpers
from data.data_builder import alfred_dataset
from models.models_builder import asset_arima, nowcaster

import statsmodels.formula.api as smf

from statsmodels.tools.eval_measures import rmse

%reload_ext autoreload

# ***1 - Data***

In [2]:
indices = ["CPI", "Core CPI", "Food CPI", "Gasoline CPI"]
df = alfred_dataset(indices)
df.describe().T

,count,mean,min,25%,50%,75%,max,std
date,688,1995-08-16 16:53:01.395348864,1967-01-01 00:00:00,1981-04-23 12:00:00,1995-08-16 12:00:00,2009-12-08 18:00:00,2024-04-01 00:00:00,NaN
CPI,688.0,151.966017,32.9,89.55,153.0,217.3655,313.207,76.740787
Core CPI,688.0,156.092715,34.2,87.6,162.0,220.68225,317.622,78.315558
Food CPI,688.0,153.538073,33.7,92.8,148.85,219.01,328.267,78.17727
Gasoline CPI,688.0,139.073121,26.1,80.4,102.1,211.595,411.984,90.836301

In [3]:
pd.read_excel("data/2e. RBRTEd.xls", sheet_name=1, header=2)

           Date  Europe Brent Spot Price FOB (Dollars per Barrel)
0    1987-05-20                                             18.63
1    1987-05-21                                             18.45
2    1987-05-22                                             18.55
3    1987-05-25                                             18.60
4    1987-05-26                                             18.63
...         ...                                               ...
9374 2024-04-29                                             88.44
9375 2024-04-30                                             88.23
9376 2024-05-01                                             83.55
9377 2024-05-02                                             84.81
9378 2024-05-03                                             83.60

[9379 rows x 2 columns]

In [4]:
pd.read_excel("data/2f. EMM_EPMR_PTE_NUS_DPGw.xls", sheet_name=1, header=2)

,Date,Weekly U.S. Regular All Formulations Retail Gasoline Prices (Dollars per Gallon)
0,1990-08-20,1.191
1,1990-08-27,1.245
2,1990-09-03,1.242
3,1990-09-10,1.252
4,1990-09-17,1.266
...,...,...
1755,2024-04-08,3.591
1756,2024-04-15,3.628
1757,2024-04-22,3.668
1758,2024-04-29,3.653
1759,2024-05-06,3.643

# ***2 - Model***

### 2.1 - MAs

In [4]:
ccpi_ma, ccpi_ma_res = asset_arima(df, 'Core CPI')
df['Core CPI MA'] = ccpi_ma_res.fittedvalues

/Users/paul/opt/miniconda3/envs/ds/lib/python3.10/site-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'

                               SARIMAX Results
==============================================================================
Dep. Variable:               Core CPI   No. Observations:                  688
Model:                ARIMA(0, 0, 12)   Log Likelihood               -3211.511
Date:                Wed, 15 May 2024   AIC                           6451.021
Time:                        16:53:31   BIC                           6514.494
Sample:                             0   HQIC                          6475.577
                                - 688
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        156.0915      5.420     28.799      0.000     145.469     166.714
ma.L1          5.4129      0.581      9.316      0.000       4.274       6.552
ma.L2         14.3085      3.759      3.807      0.000       6.942      21.676
ma.L3         23.8728     11.661      2.047      0.041       1.017      46.728
ma.L4         26.5941     23.274      1.143      0.253     -19.023      72.211
ma.L5         17.5882     33.789      0.521      0.603     -48.637      83.813
ma.L6         -0.3139     37.917     -0.008      0.993     -74.630      74.002
ma.L7        -18.0238     33.544     -0.537      0.591     -83.769      47.722
ma.L8        -26.6214     23.043     -1.155      0.248     -71.786      18.543
ma.L9        -23.5983     11.760     -2.007      0.045     -46.648      -0.549
ma.L10       -14.0039      4.212     -3.325      0.001     -22.259      -5.749
ma.L11        -5.2519      1.053     -4.989      0.000      -7.315      -3.189
ma.L12        -0.9633      0.174     -5.550      0.000      -1.303      -0.623
sigma2      1177.0149     10.277    114.531      0.000    1156.873    1197.157
===================================================================================
Ljung-Box (L1) (Q):                  24.25   Jarque-Bera (JB):               154.76
Prob(Q):                              0.00   Prob(JB):                         0.00
Heteroskedasticity (H):               1.86   Skew:                             0.98
Prob(H) (two-sided):                  0.00   Kurtosis:                         4.24
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
[2] Covariance matrix is singular or near-singular, with condition number 1.92e+19. Standard errors may be unstable.

In [5]:
fcpi_ma, fcpi_ma_res = asset_arima(df, 'Food CPI')
df['Food CPI MA'] = fcpi_ma_res.fittedvalues

/Users/paul/opt/miniconda3/envs/ds/lib/python3.10/site-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'

                               SARIMAX Results
==============================================================================
Dep. Variable:               Food CPI   No. Observations:                  688
Model:                ARIMA(0, 0, 12)   Log Likelihood               -2955.149
Date:                Wed, 15 May 2024   AIC                           5938.297
Time:                        16:53:43   BIC                           6001.770
Sample:                             0   HQIC                          5962.853
                                - 688
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        153.0514      2.014     75.992      0.000     149.104     156.999
ma.L1          5.3842      1.576      3.416      0.001       2.295       8.473
ma.L2         14.6175     10.069      1.452      0.147      -5.118      34.353
ma.L3         25.2857     33.148      0.763      0.446     -39.683      90.254
ma.L4         28.9547     73.111      0.396      0.692    -114.340     172.250
ma.L5         18.9496    118.943      0.159      0.873    -214.175     252.074
ma.L6         -1.7889    149.037     -0.012      0.990    -293.896     290.319
ma.L7        -21.4075    146.359     -0.146      0.884    -308.267     265.452
ma.L8        -29.0629    112.584     -0.258      0.796    -249.724     191.598
ma.L9        -23.7268     66.585     -0.356      0.722    -154.231     106.778
ma.L10       -12.9403     28.953     -0.447      0.655     -69.687      43.806
ma.L11        -4.4881      8.388     -0.535      0.593     -20.928      11.952
ma.L12        -0.7766      1.240     -0.626      0.531      -3.207       1.654
sigma2       296.4431    457.083      0.649      0.517    -599.423    1192.309
===================================================================================
Ljung-Box (L1) (Q):                 166.59   Jarque-Bera (JB):                85.95
Prob(Q):                              0.00   Prob(JB):                         0.00
Heteroskedasticity (H):               1.30   Skew:                             0.81
Prob(H) (two-sided):                  0.05   Kurtosis:                         3.59
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

/Users/paul/opt/miniconda3/envs/ds/lib/python3.10/site-packages/statsmodels/base/model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [6]:
gcpi_ma, gcpi_ma_res = asset_arima(df, 'Gasoline CPI')
df['Gasoline CPI MA'] = gcpi_ma_res.fittedvalues

/Users/paul/opt/miniconda3/envs/ds/lib/python3.10/site-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'

                               SARIMAX Results
==============================================================================
Dep. Variable:           Gasoline CPI   No. Observations:                  688
Model:                ARIMA(0, 0, 12)   Log Likelihood               -2667.118
Date:                Wed, 15 May 2024   AIC                           5362.237
Time:                        16:53:57   BIC                           5425.710
Sample:                             0   HQIC                          5386.792
                                - 688
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        139.0775      9.106     15.274      0.000     121.231     156.924
ma.L1          1.4341      0.033     44.119      0.000       1.370       1.498
ma.L2          1.6430      0.045     36.542      0.000       1.555       1.731
ma.L3          1.8171      0.069     26.387      0.000       1.682       1.952
ma.L4          1.9303      0.078     24.765      0.000       1.777       2.083
ma.L5          1.8971      0.099     19.165      0.000       1.703       2.091
ma.L6          1.7661      0.100     17.691      0.000       1.570       1.962
ma.L7          1.6091      0.106     15.163      0.000       1.401       1.817
ma.L8          1.3050      0.098     13.364      0.000       1.114       1.496
ma.L9          1.0390      0.086     12.048      0.000       0.870       1.208
ma.L10         0.7119      0.065     10.911      0.000       0.584       0.840
ma.L11         0.5965      0.051     11.631      0.000       0.496       0.697
ma.L12         0.0369      0.031      1.187      0.235      -0.024       0.098
sigma2       134.1770      5.318     25.233      0.000     123.755     144.599
===================================================================================
Ljung-Box (L1) (Q):                   0.14   Jarque-Bera (JB):               648.31
Prob(Q):                              0.71   Prob(JB):                         0.00
Heteroskedasticity (H):              11.25   Skew:                             1.15
Prob(H) (two-sided):                  0.00   Kurtosis:                         7.16
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

### 2.2 - Final OLS

In [8]:
df

,date,CPI,Core CPI,Food CPI,Gasoline CPI,Core CPI MA,Food CPI MA,Gasoline CPI MA
0,1967-01-01,32.900,34.200,33.900,26.300,156.091462,153.051373,139.077510
1,1967-02-01,33.000,34.200,33.800,26.200,54.054665,54.590886,30.498156
2,1967-03-01,33.000,34.300,33.800,26.100,72.042608,72.995694,32.531475
3,1967-04-01,33.100,34.400,33.700,26.400,42.796457,43.384516,33.870286
4,1967-05-01,33.100,34.500,33.700,26.400,49.813653,50.798055,35.190520
...,...,...,...,...,...,...,...,...
683,2023-12-01,308.742,313.209,326.545,303.242,303.970133,279.167287,295.072201
684,2024-01-01,309.685,314.438,327.813,293.287,246.063220,296.916543,297.225863
685,2024-02-01,311.054,315.565,327.880,304.302,319.153929,299.265503,262.894374
686,2024-03-01,312.230,316.698,328.212,309.587,246.973962,287.793693,310.040198
687,2024-04-01,313.207,317.622,328.267,318.186,308.561529,303.830298,292.771935

In [12]:
X = ["Core CPI MA", "Food CPI MA", "Gasoline CPI MA"]
y = "CPI"
start_date = "2000-01-01"

In [13]:
nowcaster_fed, nowcaster_fed_res = nowcaster(df, X, y, start=start_date)

                            OLS Regression Results
==============================================================================
Dep. Variable:                    CPI   R-squared:                       0.923
Model:                            OLS   Adj. R-squared:                  0.922
Method:                 Least Squares   F-statistic:                     1148.
Date:                Wed, 15 May 2024   Prob (F-statistic):          8.44e-160
Time:                        16:55:25   Log-Likelihood:                -1085.9
No. Observations:                 292   AIC:                             2180.
Df Residuals:                     288   BIC:                             2195.
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const             -47.2522      5.281     -8.947      0.000     -57.647     -36.857
Core CPI MA         0.3141      0.032      9.838      0.000       0.251       0.377
Food CPI MA         0.8582      0.034     25.427      0.000       0.792       0.925
Gasoline CPI MA     0.0472      0.012      3.852      0.000       0.023       0.071
==============================================================================
Omnibus:                        3.945   Durbin-Watson:                   2.625
Prob(Omnibus):                  0.139   Jarque-Bera (JB):                4.546
Skew:                           0.097   Prob(JB):                        0.103
Kurtosis:                       3.580   Cond. No.                     3.54e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.54e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [14]:
yh = nowcaster_fed_res.fittedvalues

In [14]:
rmse(y, yh)

10.909518003632684

In [20]:
res_df = pd.DataFrame({'Realized CPI': y, 'Forecast CPI': yh})
res_df

     Realized CPI  Forecast CPI
0          32.900    145.473350
1          33.000     35.323420
2          33.000     53.036286
3          33.100     25.091264
4          33.100     32.227820
..            ...           ...
683       308.742    294.064851
684       309.685    288.668253
685       311.054    307.266438
686       312.230    284.759007
687       313.207    311.262798

[688 rows x 2 columns]

In [15]:
yh.pct_change()

0           NaN
1     -0.757183
2      0.501448
3     -0.526904
4      0.284424
         ...
683   -0.038451
684   -0.018352
685    0.064428
686   -0.073251
687    0.093074
Length: 688, dtype: float64

In [14]:
spf = pd.read_excel('data/SPF_Median_CPI.xlsx')
spf

/Users/paul/opt/miniconda3/envs/ds/lib/python3.10/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,YEAR,QUARTER,CPI1,CPI2,CPI3,CPI4,CPI5,CPI6,CPIA,CPIB,CPIC
0,1968,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1969,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1969,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1969,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1969,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
218,2023,2,3.8,3.5000,3.2000,2.9492,2.7000,2.4168,3.3519,2.5118,2.2500
219,2023,3,2.7,3.0680,2.9230,2.6146,2.5493,2.5920,3.1000,2.4862,2.3981
220,2023,4,3.6,3.2641,2.7832,2.6159,2.5000,2.4000,3.3373,2.5193,2.2707
221,2024,1,2.8,2.5094,2.5000,2.4000,2.3547,2.2677,2.4905,2.2000,2.2523
222,2024,2,3.8,3.4100,2.8000,2.5000,2.4058,2.3225,3.1235,2.4000,2.3000